.card{
    margin-top: 50px;
    
    
}

.title{
    font-weight: 600 !important;
    padding-left: 50px;
    
}

.desc{
    padding: 20px 50px ;
    font-size: 18px !important;
    font-weight: bold !important;
    overflow-wrap: break-word !important;
    line-height: 50px !important;
    
}
