.bold{
    font-weight: bold !important;
    
    

}

.noListItem{
    list-style: none;
}
.project{
    display: flex;
}

.project ul{
    flex: 8;

}
.project img{
    flex: 4;
    width: 400px;
    object-fit: contain;
    margin-top: 0;
}

.table{
    
    width: 100%;
    text-align: center;
    

}
.table th{
    text-align: left;
    font-weight:bold !important;
  
    
    
}
.table td{
    font-weight: normal;
    text-align: center;
}

